body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    box-sizing: border-box;
    background-color: lightgray;
}

header {
    background-color:violet;
    height: 80px;
}

.logo__item {
    background-repeat: no-repeat;
    padding: 15px 15px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.cabecera__container {
    width: fit-content;
    padding: 0 25px;
}

.menu__title {
    font-weight: bold;
    font-size: 16px;
    width: fit-content;
}

.menu__list__item {
    display: inline;
}

.title__profile {
    width: 50px;
    height: 50px;
}

.title__container {
    padding: 15px 15px;
}

.title__subsection {
    padding: 10px 0px;
}

.title__bio {
    font-size: 18px;
    font-weight: bold;
}

.title__network__item {
    display: inline;
}

.about {
    background-color: lightcyan;
}

.about__title {
    font-weight: bold;
    font-size: 16px;
    padding: 0px 15px;
}

.about__paragraph {
    padding: 10px 15px;
}

.skills__line {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skills__box {
    display: flex;
    background-color: white;
    width: 100px;
    align-items: center;
}

.skills__image {
    margin-top: 1rem;
}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}